# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual env
.venv/
venv/
env/
*.env

# IDE
.vscode/
.idea/

# Data & models
/data/
/models/
/reports/
/logs/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
